body {
    background-color: beige;
}

h1, h4 {
    text-align: center;
    color: black;
}

.hero{
    background-image: url('images/leo-1.jpeg');
    height: 400px;
    background-position: center;
}

.head {
    justify-content: center;
}
