body {
    background-color: #BEBAB1;
}

h1, h4 {
    text-justify: center;
    color: #84724D;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
}

.hero{
    background-image: url('images/hero-1.png');
    height: 400px;
    background-position: center;
}

.container {
    justify-content: center;
    padding-top:30px;
}

.row {
    padding-bottom: 30px;
}

.navbar {
    margin-left: 60px;
}

.footer {
    padding-top: 30px;
}